<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>employee_crud</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>employeeController</servlet-name>
  	<servlet-class>com.zensar.EmployeeController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>employeeController</servlet-name>
  	<url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>employeeController</servlet-name>
  	<url-pattern>/getAllEmployees</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>employeeController</servlet-name>
  	<url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>employeeController</servlet-name>
  	<url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
</web-app>